@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

* {
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #EFEFEF;
}

#header {
	border: 1px solid #9D9D9D;
	background-color: #E0E0E0;
	height: 50px;
	padding-top: 20px;
	font-size: 20px;
	text-align: center;
	font-weight: 100;
}

#header a {
	color: #444444;
	text-decoration: none;
}

#header span {
    padding: 0 20px;
}

#content {
    height: 580px;
    margin: 0 auto;
}

#content h1 {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 50px;
	font-weight: 300;
	font-size: 40px;
}

#content img {
    margin-left: 80px;
}

#box_text {
	width: 671px;
	margin-right: 50px;
	float: right;
	background-color: #FFFFFF;
	font-weight: 100;
	font-size: 24px;
	padding: 49px 48px 51px 76px;
}

#box_text p {
	margin-bottom: 20px;
}

#box_text a {
	text-decoration: none;
	color: #686868;
}

#box_text span {
	padding: 0 15px;
}

#footer {
	height: 80px;
	background-color: #454545;
	color: #C7C7C7;
	padding-top: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: 100;
}

#footer a {
	text-decoration: underline;
	color: #C7C7C7;
	font-weight: 100;
}